# --- Custom Alias Definitions ---

Set-Alias ll Get-ChildItem
Set-Alias -Name 'lsd' -Value 'Get-ChildItemSortByDate' -Description "lsd == Get-ChildItemSortByDate"
Set-Alias -Name 'lsdd' -Value 'Get-ChildItemSortByDateDescending' -Description "lsdd == Get-ChildItemSortByDateDescending"
Set-Alias -Name "tf" -Value "terraform" -Description "'tf' == 'terraform'"